<header class="">
 <nav class="flex justify-evenly items-center">
    <div class="left-nav">
      <a routerLink="index-page"><img src="../../../assets/upzlogo.png" alt="" srcset="" class="h-20"></a>
    </div>
    <div class="mid-nav flex space-x-14">
      <a routerLink="department-page">Department</a>
      <a routerLink="lendet-page">Lendet</a>
      <a routerLink="evente-page">Evente</a>
      <a routerLink="kontakt-page">Kontakti</a>
    </div>
    <div class="right-nav">
      <a routerLink="login-page">Log In</a>
    </div>
 </nav>
</header>