<router-outlet></router-outlet>

<section class="bg-sky-100 items-center">
    <h1 class="text-3xl text-center mt-20">Mirsevini ne Faqen e Universitetit te Prizrenit "Ukshin Hoti"</h1>

    <div class="welcome-card flex flex-col justify-center">
        <div class="img mx-auto"><img src="../../../../assets/upzlogo.png" alt="" srcset=""></div>

        
        <div class="btn-one mx-auto mt-12">
            <button (click)="goDepartment();" type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Vazhdoni ne Website</button>
        </div>
        
        <div class="btn-two mx-auto ">
            <button (click)="goAdmin();" type="button" class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-yellow-900">Admin Panel</button>
        </div>
        
    </div>
</section>