
<section class="p-20">
    <div class="kontakt flex justify-evenly">
        <div class="kontakt-info">
            <h2 class="font-medium mt-5">Adresa</h2>
            <p class="">
                Rruga e Shkronjave, nr. 1
                20000 Prizren,<br>
                Republika e Kosovës</p>
                <h2 class="font-medium mt-5">Email</h2>
                <p class="">
                    info&#64;uni-prizren.com</p>
                <h2 class="font-medium mt-5">Tel</h2>
                <p class="">
                    +383-(49)-200-200</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2955.3929778315123!2d20.722708976574054!3d42.20604494481733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13539568c10cb73b%3A0xd44ac5c9587da9e7!2sCampus%20of%20the%20Prizren%20University!5e0!3m2!1sen!2s!4v1727000060580!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
</section>
