<section class="p-20">
    <div class="evente ">
        <div class="evente-card text-center " >
            <img src="../../../../assets/ev1.jpg" alt="" srcset="" class="mx-auto my-12 mb-5" style="height: 500px; width: 1000px;">
            <h2 class="text-xl font-medium">Thirrje për angazhim vullnetar në kuadër të festivalit Digital Skills Festival-ITP</h2>
            <p class="border border-black-1 mx-auto mt-10" style="width: 500px; height: 2px;"></p>
        </div>
        <div class="evente-card text-center ">
            <img src="../../../../assets/ev2.jpg" alt="" srcset="" class="mx-auto my-12" style="height: 500px; width: 1000px;">
            <h2 class="text-xl font-medium">Sesion informues për Digital Skills Festival në FSHK</h2>
            <p class="border border-black-1 mx-auto mt-10" style="width: 500px; height: 2px;"></p>
        </div>
        <div class="evente-card text-center ">
            <img src="../../../../assets/ev3.jpg" alt="" srcset="" class="mx-auto my-12" style="height: 500px; width: 1000px;">
            <h2 class="text-xl font-medium">Takimi i radhës i Bordit Këshillëdhënës Industrial në Fakultetin e Shkencave Kompjuterike</h2>
            <p class="border border-black-1 mx-auto mt-10" style="width: 500px; height: 2px;"></p>
        </div>

        
    </div>
</section>